%footer
  = link_to "About Community", about_path
  &bull;
  = link_to "An Elm City Craftworks Project", "http://elmcitycraftworks.org"
  &bull;
  = link_to "Fork me on GitHub", "https://github.com/elm-city-craftworks/community#readme"
